*{
    --sage: #98c9a3;
    --butter: #ffe566;
    --skylight: #64dfdf;
    --clay: #e83d04;
    --pumpkin: #ff6201;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f0f0f0;
    color: #333;
}
header{
    text-align: center;
    border: 1px solid darkblue
}

.container{
    display: flex;
}

.left-column{
    width: 25%;
    height: 100vh;
    border: 1px solid black;
    padding: 10px;
}

.center-body{
    width: 50%;
    border: 1px solid black;
    padding: 10px;
    margin: 1px 0px;
}

.right-column{
    width: 25%;
    border: 1px solid black;
    padding: 10px;
}

footer p{
    text-align: center;
    font-size: 14px;
}

.colors table, th,td{
    border: 1px solid black;
}

#row1{
    background-color: gray;
    color: white;
}

#row2{
    background-color: royalblue;
    color: white;
}

#row3{
    background-color: var(--skylight);
    color: black;
}

#row4{
    background-color: var(--sage);
    color: black;
}

#row5{
    background-color: var(--butter);
    color: black;
}

#row6{
    background-color: gold;
    color: black;
}

#row7{
    background-color: var(--clay);
    color: white;
}

#row8{
    background-color: var(--pumpkin);
}